h1{
    color: color(from color srgb r g b);
    background-color:red;
    border-radius: 200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 100px;
    inline-size:0qam;
    height: 200px;
    widows: initial;
}