{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<div class="card" style="width: 18rem;">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="{%static 'images/dhoni.webp' %}" class="card-img-top" alt="..." height="150px" width="150px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">HE WILL HANDLE THE PRESSURE situations EASILY THATS HIS STRENGTH</p>
          
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu">
          <a class="btn btn-primary" href="{% url 'yash' %}">2007 T20 WORLDCUP WINNER</a>
          <a class="btn btn-danger" href="{% url 'django' %}">2011 WORLDCUP WINNIONG CAPTAIN</a>
          <a class="dropdown-info" href="{% url 'reddy' %}">2013 CHAMPIONS TROPHY WINNER</a>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>